<p-growl [value]="msgs"></p-growl>

    <h1>Create insurance</h1><br/>
<form [formGroup]="userform" >
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;width:80%;">




<div class='ui-grid-row' style='width:100%;'>
<div class='ui-g form-group' style='width:80%;'>
<div class='ui-g-12 ui-md-4' style='width:100%;'>
<span class='md-inputfield'>
<input pInputText type='text' [(ngModel)]='insuranceVar.InsuranceName' formControlName='InsuranceName' /> <label>Insurance Name</label></span>
</div>
</div>


<div class="ui-grid-col-4">   
<div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['InsuranceName'].valid&&userform.controls['InsuranceName'].touched">Insurance Name Required
</div>
</div>
</div>


<div class='ui-grid-row' style='width:100%;'>
<div class='ui-g form-group' style='width:80%;'>
<div class='ui-g-12 ui-md-4' style='width:100%;'>
<span class='md-inputfield'>
<p-dropdown [style]="{'width':'90%'}" [options]='drpcashlessoptions' [(ngModel)]='insuranceVar.InsuranceCashless' formControlName='InsuranceCashless'></p-dropdown> 
	
	<!--<label>Insurance Cashless</label>-->
</span>

</div>
</div>


<div class="ui-grid-col-4">   
<div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['InsuranceCashless'].valid&&userform.controls['InsuranceCashless'].touched">Insurance Cashless Required
</div>
</div>
</div>
<div class="ui-grid-row" style="width:100%;"> 
<div class="ui-g form-group" style="width:80%;">
<div class="ui-g-12 ui-md-4" style="width:100%;float:left;">
<div style="width:50%">
<button pButton  (click)="onSubmit()" [disabled]="!userform.valid" label="Submit" ></button>
<br/>

</div>  
<div style="width:50%;float:right;">
<button pButton  (click)="clear()" label="Clear" ></button>
</div>
</div>
</div>
</div>

</div>

</form>

<p-dataTable [value]="VwInsuranceHospital" 
    selectionMode="single" [rows]="10" [paginator]="true" (onRowSelect)="onRowSelectVwInsuranceHospital($event)" 
    [(selection)]="selectedRow">

 
<p-column field="InsuranceName" [filter]="true" 
filterPlaceholder="Search InsuranceName"  header="InsuranceName">
</p-column>

<p-column field="InsuranceCashless" [filter]="true" 
filterPlaceholder="Search InsuranceCashless"  header="InsuranceCashless">
</p-column>
  
</p-dataTable>
