
<p-growl [value]="msgs"></p-growl>
<p-confirmDialog width="425"></p-confirmDialog>

    <h1>Doctor Visit</h1><br/>
<form [formGroup]="userform" >
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;width:80%;">




<div class='ui-grid-row' style='width:100%;'>
<div class='ui-g form-group' style='width:80%;'>
<div class='ui-g-12 ui-md-4' style='width:100%;'>
<span class='md-inputfield'>
Visit Date
<p-calendar [(ngModel)]="DocVisitDate"  dateFormat="mm/dd/yy" formControlName='DocVisitDate'> </p-calendar></span>
</div>
</div>


<div class="ui-grid-col-4">   
<div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['DocVisitDate'].valid&&userform.controls['DocVisitDate'].touched">Visit Date   Required
</div>
</div>
</div>

<div class='ui-grid-row' style='width:100%;'>
<div class='ui-g form-group' style='width:80%;'>
<div class='ui-g-12 ui-md-4' style='width:100%;'>
<span class='md-inputfield'>

<!--<p-dropdown [style]="{'width':'90%'}" [options]="drpdoctoroptions" [(ngModel)]="hspdoctorvisitdetailsVar.DoctorIdhspdoctorvisitdetails" formControlName='DoctorIdhspdoctorvisitdetails'></p-dropdown> -->
<p-autoComplete [(ngModel)]="docselected" [suggestions]="docresults" (completeMethod)="filterDOCName($event)"  (onSelect)="doGetAmountDocChargesByDoctorId($event2)"  field="label"  formControlName='DoctorIdhspdoctorvisitdetails' ></p-autoComplete>
 <label>Doctor Name </label>

</span>
</div>
</div>


<div class="ui-grid-col-4">   
        <b *ngIf="doctype">
      (  {{doctype}} )
</b>
<div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['DoctorIdhspdoctorvisitdetails'].valid&&userform.controls['DoctorIdhspdoctorvisitdetails'].touched">Doctor Name  Required
</div>
</div>
</div>

<div class='ui-grid-row' style='width:100%;'>
<div class='ui-g form-group' style='width:80%;'>
<div class='ui-g-12 ui-md-4' style='width:100%;'>
<span class='md-inputfield'>
Appointment Type:
<p-dropdown [style]="{'width':'90%'}" [options]="drpappointtypeoptions" [(ngModel)]="hspdoctorvisitdetailsVar.DocVisitHeads"  (onChange)="doGetAmountDocChargesByDoctorId($event)" formControlName="DocVisitHeads"></p-dropdown> 
</span>
</div>
</div>


<div class="ui-grid-col-4">   
<div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['DocVisitHeads'].valid&&userform.controls['DocVisitHeads'].touched">Appointment Type Required
</div>
</div>
</div>


<div class='ui-grid-row' style='width:100%;'>
<div class='ui-g form-group' style='width:80%;'>
<div class='ui-g-12 ui-md-4' style='width:100%;'>
<span class='md-inputfield'>
<input pInputText type='text' [(ngModel)]='hspdoctorvisitdetailsVar.DocVisitAmount' formControlName='DocVisitAmount' /> <label>Amount</label></span>
</div>
</div>


<div class="ui-grid-col-4">   
<div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['DocVisitAmount'].valid&&userform.controls['DocVisitAmount'].touched">Amount  Required
</div>
</div>
</div>


<div class='ui-grid-row' style='width:100%;'>
<div class='ui-g form-group' style='width:80%;'>
<div class='ui-g-12 ui-md-4' style='width:100%;'>
<span class='md-inputfield'>
<input pInputText type='text' [(ngModel)]='hspdoctorvisitdetailsVar.DocVisitObservations' formControlName='DocVisitObservations' /> <label>Observations</label></span>
</div>
</div>


<div class="ui-grid-col-4">   
<div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['DocVisitObservations'].valid&&userform.controls['DocVisitObservations'].touched">Observations  Required
</div>
</div>
</div>



<div class="ui-grid-row" style="width:100%;"> 
<div class="ui-g form-group" style="width:80%;">
<div class="ui-g-12 ui-md-4" style="width:100%;float:left;">
<div style="width:50%">
<button pButton  (click)="onSubmit()" [disabled]="!userform.valid" label="Submit" ></button>
<br/>

</div>  
<div style="width:50%;float:right;">
<button pButton  (click)="clear()" label="Clear" ></button>
</div>
</div>
</div>
</div>

</div>

</form>

<p-dataTable [value]="vwhspdoctorvisitdetails" 
	selectionMode="single" [rows]="10" [paginator]="true" (onRowSelect)="onRowSelectvwhspdoctorvisitdetails($event)" 
	[(selection)]="selectedRow">
 
<p-column field="DocVisitDate" [filter]="true" 
filterPlaceholder="Search DocVisitDate"  header="DocVisitDate">
</p-column>

<p-column field="DocVisitHeads" [filter]="true" 
filterPlaceholder="Search DocVisitHeads"  header="DocVisitHeads">
</p-column>

<p-column field="DocVisitAmount" [filter]="true" 
filterPlaceholder="Search DocVisitAmount"  header="DocVisitAmount">
</p-column>
 
 
<p-column field="DoctorName" [filter]="true" 
filterPlaceholder="Search DoctorName"  header="DoctorName">
</p-column>
           
      
<p-column styleClass="col-button" header="Delete">
                      <template let-col let-cont="rowData" pTemplate="body">
                        <span [style.color]="cont[col.field]">{{cont[col.field]}}</span>
                     </template>
                    <template pTemplate="header">
                            <button type="button" pButton icon="fa-refresh"></button>
                    </template>
                    <template let-cont="rowData" pTemplate="body">
                            <button type="button" pButton (click)="deleteSubmitParticularsRow(cont)"  icon="fa-close" label="Delete"></button>
                    </template>
</p-column>
</p-dataTable>

