<p-growl [value]="msgs"></p-growl>
<h1>Create Membership Type</h1><br/>
<form [formGroup]="userform">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;width:80%;">
        <div class='ui-grid-row' style='width:100%;'>
            <div class='ui-g form-group' style='width:80%;'>
                <div class='ui-g-12 ui-md-4' style='width:100%;'><span class='md-inputfield'><input pInputText type='text' [(ngModel)]='membershiptype.membershiptype_name' formControlName='membershiptype_name' /> <label>Membership Type Name</label></span></div>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['membershiptype_name'].valid&&userform.controls['membershiptype_name'].touched">Membership Type Required</div>
            </div>
        </div>
        <div class='ui-grid-row' style='width:100%;'>
            <div class='ui-g form-group' style='width:80%;'>
                <div class='ui-g-12 ui-md-4' style='width:100%;'><span class='md-inputfield'><input pInputText type='text' [(ngModel)]='membershiptype.membershiptype_alias' formControlName='membershiptype_alias' /> <label>Membership Type Alias Name</label></span></div>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['membershiptype_alias'].valid&&userform.controls['membershiptype_alias'].touched">Membership Type Alias Name Required</div>
            </div>
        </div>
        <div class='ui-grid-row' style='width:100%;'>
            <div class='ui-g form-group' style='width:80%;'>
                <div class='ui-g-12 ui-md-4' style='width:100%;'><span class='md-inputfield'><p-spinner [min]="0" [step]="1" [(ngModel)]='membershiptype.membershiptype_coinspoints' formControlName='membershiptype_coinspoints' ></p-spinner> <label>Membership Coins</label></span></div>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['membershiptype_coinspoints'].valid&&userform.controls['membershiptype_coinspoints'].touched">Membership Coins Required</div>
            </div>
        </div>
        <div class="ui-grid-row" style="width:100%;">
            <div class="ui-g form-group" style="width:80%;">
                <div class="ui-g-12 ui-md-4" style="width:100%;float:left;">
                    <div style="width:50%"><button pButton (click)="onSubmit()" label="Submit" [disabled]="!userform.valid"></button><br/></div>
                    <div style="width:50%;float:right;"><button pButton (click)="clear()" label="Clear"></button></div>
                </div>
            </div>
        </div>
    </div>
</form>

<p-dataTable [value]="membershiptypes" selectionMode="single" [rows]="10" [paginator]="true" (onRowSelect)="onRowSelect($event)"
    [(selection)]="selectedRow">
    <p-column field="membershiptype_name" [filter]="true" filterPlaceholder="Search Member Type" header="Member Type"></p-column>
    <p-column field="membershiptype_alias" [filter]="true" filterPlaceholder="Search Membershiptype Alias" header="Membershiptype Alias"></p-column>
    <p-column field="membershiptype_coinspoints" [filter]="true" filterPlaceholder="Search Membershiptype Coinspoints" header="Membershiptype Coinspoints"></p-column>
</p-dataTable>





<!--<p-fileUpload name="files" url="http://localhost:8081/Atultest/rest/atultest/files2" (onBeforeUpload)="onBeforeUpload($event)" (onUpload)="onUpload($event)" 
        multiple="multiple" accept="image/*" maxFileSize="1000000">
    <template pTemplate type="content">
        <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
    </template>        
</p-fileUpload> -->

<!--<p-fileUpload name="uploadedFiles[]" url="http://localhost:8081/Atultest/rest/atultest/files2"></p-fileUpload>-->
<!--<p-fileUpload name="files" url="http://localhost:8080/TaskManagerWS/rest/atultest/multiplefiles" 
multiple="multiple" (onUpload)="onUpload($event)"></p-fileUpload>
<button pButton type="button" (click)="onFinalFileUpload()" label="Final Submit"></button>-->