<p-growl [value]="msgs"></p-growl>
    <h1>Create Country</h1><br>
    <form [formGroup]="userform">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;width:80%;">
    <div class="ui-grid-row" style="width:100%;">
    <div class="ui-g form-group" style="width:80%;">
        <div class="ui-g-12 ui-md-4" style="width:100%;">
            <span class="md-inputfield">
                <input type="text" pInputText [(ngModel)]="country.CountryName" formControlName="CountryName"> 
                <label>Country name
                </label>
            </span>
        </div>
    </div>
    <div class="ui-grid-col-4">   
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['CountryName'].valid&&userform.controls['CountryName'].touched">
                Country Name  Required
            </div>
    </div>
    </div>
    <div class="ui-grid-row" style="width:100%;">
        <div class="ui-g form-group" style="width:80%;">
            <div class="ui-g-12 ui-md-4" style="width:100%;">
                <span class="md-inputfield">
                    <input type="text" pInputText [(ngModel)]="country.CountryAliasName" formControlName="CountryAliasName"> 
                    <label>Country Alias name</label>
                </span>
            </div>
        </div>
        <div class="ui-grid-col-4">   
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['CountryAliasName'].valid&&userform.controls['CountryAliasName'].touched">Country Alias Name  Required
            </div>
        </div>
    </div>
    <div class="ui-grid-row" style="width:100%;"> 
        <div class="ui-g form-group" style="width:80%;">
            <div class="ui-g-12 ui-md-4" style="width:100%;float:left;">
                <div style="width:50%">
                    <button pButton (click)="onSubmit()" label="Submit" [disabled]="!userform.valid"></button>
                    <br>
                </div>  
                <div style="width:50%;float:right;">
                    <button pButton (click)="clear()" label="Clear"></button>
                </div>
            </div>
        </div>
    </div>
                    
</div>

</form>


<p-dataTable [value]="countrys" selectionMode="single" [rows]="10" [paginator]="true" (onRowSelect)="onRowSelect($event)" [(selection)]="selectedRow">
    <p-column field="CountryName" [filter]="true" filterPlaceholder="Search Country Name" header="Country Name"></p-column>
    <p-column field="CountryAliasName" [filter]="true" filterPlaceholder="Search Country Aliasname" header="Country Aliasname"></p-column>
</p-dataTable>