<p-growl [value]="msgs"></p-growl>

    <h1>Create patientmedicalrecord</h1><br/>
<form [formGroup]="userform" >
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;width:80%;">




<div class='ui-grid-row' style='width:100%;'>
<div class='ui-g form-group' style='width:80%;'>
<div class='ui-g-12 ui-md-4' style='width:100%;'>
<span class='md-inputfield'>
<input pInputText type='text' [(ngModel)]='patientmedicalrecordVar.PatientMedicalRecordName' formControlName='PatientMedicalRecordName' /> <label>PatientMedical Record Name</label></span>
</div>
</div>


<div class="ui-grid-col-4">   
<div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['PatientMedicalRecordName'].valid&&userform.controls['PatientMedicalRecordName'].touched">PatientMedical Record Name  Required
</div>
</div>
</div>


<div class='ui-grid-row' style='width:100%;'>
<div class='ui-g form-group' style='width:80%;'>
<div class='ui-g-12 ui-md-4' style='width:100%;'>
<span class='md-inputfield'>
<input pInputText type='text' [(ngModel)]='patientmedicalrecordVar.PatientMedicalRecordAliasName' formControlName='PatientMedicalRecordAliasName' /> <label>PatientMedical Record Alias Name</label></span>
</div>
</div>


<div class="ui-grid-col-4">   
<div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['PatientMedicalRecordAliasName'].valid&&userform.controls['PatientMedicalRecordAliasName'].touched">PatientMedical Record Alias Name  Required
</div>
</div>
</div>
<div class="ui-grid-row" style="width:100%;"> 
<div class="ui-g form-group" style="width:80%;">
<div class="ui-g-12 ui-md-4" style="width:100%;float:left;">
<div style="width:50%">
<button pButton  (click)="onSubmit()" [disabled]="!userform.valid" label="Submit" ></button>
<br/>

</div>  
<div style="width:50%;float:right;">
<button pButton  (click)="clear()" label="Clear" ></button>
</div>
</div>
</div>
</div>

</div>

</form>

<p-dataTable [value]="VwPatientMedicalRecordHospital" 
	selectionMode="single" [rows]="10" [paginator]="true" (onRowSelect)="onRowSelectVwPatientMedicalRecordHospital($event)" 
	[(selection)]="selectedRow">

 
<p-column field="PatientMedicalRecordName" [filter]="true" 
filterPlaceholder="Search PatientMedicalRecordName"  header="PatientMedicalRecordName">
</p-column>

<p-column field="PatientMedicalRecordAliasName" [filter]="true" 
filterPlaceholder="Search PatientMedicalRecordAliasName"  header="PatientMedicalRecordAliasName">
</p-column>

<p-column field="HospitalIdPatientMedicalRecord" [filter]="true" 
filterPlaceholder="Search HospitalIdPatientMedicalRecord"  header="HospitalIdPatientMedicalRecord">
</p-column>


</p-dataTable>
